@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden
}

#homeContainer #savingsProgress {
    width: 380px !important;
    height: 380px !important;
}

#homeContainer #savingsProgress path.mainline {
    stroke-width: 5;
    stroke: #2563EB;
}

#homeContainer #savingsProgress path.baseline {
    stroke-width: 5;
}

.ldBar-label {
    font-size: 3rem;
    opacity: 0.9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* sm */
@media screen and (min-width: 480px) {
    #homeContainer #savingsProgress {
        width: 430px !important;
        height: 430px !important;
    }
}

/* md */
@media screen and (min-width: 768px) {
    #homeContainer #savingsProgress {
        width: 450px !important;
        height: 450px !important;
    }
}

/* lg */
@media screen and (min-width: 976px) {
    #homeContainer #savingsProgress {
        width: 520px !important;
        height: 520px !important;
    }
}