@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Yanone+Kaffeesatz&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #2563eb;
    --yellow: #f6bb09;
    --green: #22c55e;
    --red: #ef4444;
    --gray: #333;
    --gray-2: #9ca3af;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #000;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.4rem;
}

.modal.modal-sm {
    width: 85%;
    height: 400px;
}

.modal.modal-lg {
    width: 90%;
    height: 600px;
}

#homeContainer #savingProgress {
    width: 380px !important;
    height: 380px !important;
}

#homeContainer #savingProgress path.mainline {
    transition: background-color 150ms;
    stroke-width: 5;
}

#homeContainer #savingProgress path.baseline {
    stroke-width: 5;
}

#homeContainer button.disabled {
    background-color: var(--gray);
    pointer-events: none;
    opacity: 0.85;
}

#savingsContainer .saving-item.active[data-status="empty"],
#savingsContainer .saving-item.active {
    background-color: var(--gray);
    border: 1px solid var(--gray-2);
    color: #fff;
}

#savingsContainer .saving-item.active[data-status="in-progress"] {
    background-color: var(--blue);
    border: 1px solid var(--gray-2);
    color: #fff;
}

#savingsContainer .saving-item.active[data-status="completed"] {
    background-color: var(--yellow);
    border: 1px solid var(--gray-2);
    color: #000;
}

.ldBar-label {
    font-size: 3rem;
    opacity: 0.9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* sm */
@media screen and (min-width: 480px) {
    #homeContainer #savingProgress {
        width: 430px !important;
        height: 430px !important;
    }

    .modal {
        max-width: 520px;
    }
}

/* md */
@media screen and (min-width: 768px) {
    #homeContainer #savingProgress {
        width: 450px !important;
        height: 450px !important;
    }

    .modal {
        max-width: 700px;
        width: 700px;
        height: 700px;
    }

    .modal.modal-sm {
        height: 250px;
    }
}

/* lg */
@media screen and (min-width: 976px) {
    #homeContainer #savingProgress {
        width: 520px !important;
        height: 520px !important;
    }    
}