{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block modal %}
    <div id="modifyAmountModal" class="modal modal-sm flex-col hidden opacity-0 relative">
        <button type="button" class="close-modal-btn absolute top-0 right-0 my-1 mx-3
        text-[1.7rem] cursor-pointer p-1">
            <i class="fa-solid fa-xmark text-slate-800"></i>
        </button>

        <div class="form-header-container pt-8 pb-4 border-b-slate-200 md:pt-6">
            <h4 class="form-title text-[2.6rem] font-yanone-kaffeesatz 
            text-center md:text-[2.2rem]"></h4>
        </div>

        <span class="hidden text-center text-xl font-noto-sans mb-2
        text-red-600 error-text" id="addSavingErrorText">I am another hidden placeholder :)</span>

        <div class="form-container flex justify-center py-6 md:py-4">
            <div class="input-group flex w-5/6">
                <input type="text" id="formCurrencyLabel" class="bg-slate-100 border-l
                border-t border-b border-slate-300 rounded-l-md py-4 text-center w-[15%] text-[2rem]
                text-slate-500 md:w-[12%] md:text-[1.6rem]" disabled>
                <input type="text" id="savingAmountInput" class="bg-white
                border rounded-r-md font-noto-sans border-slate-300 py-4 px-4 w-[85%] text-[1.6rem] 
                focus:outline-none md:w-[73%] md:rounded-none"/>    
                <button class="submitModifyAmountForm icon rounded-r-md
                font-noto-sans py-2 w-[15%] text-[1.6rem] hidden md:block">
                    <i class=""></i>
                </button>
            </div>

            <button class="submitModifyAmountForm text absolute bottom-0  block md:hidden
            font-noto-sans py-3 px-6 text-[1.3rem] mx-auto my-8 rounded-md">
                Add to Saving
            </button>
        </div>
    </div>
{% endblock %}

{% block main%}
    <div id="homeContainer" class="flex flex-col h-full py-8 overflow-y-auto relative">
        <div class="saving-container hidden flex-col flex-1 items-center">
            <button type="button" class="absolute bg-green-500 top-0 right-0
            pl-6 pr-2 pb-6 pt-2 z-[99] rounded-bl-full transition ease-out duration-50 
            text-2xl cursor-pointer hover:scale-[1.10] hover:translate-x-[-2px] hover:translate-y-[2px]
            md:pl-8 md:pr-4 md:pb-8 md:pt-4"
            id="addToSaving">
                <i class="fa-solid fa-plus"></i>
            </button>

            <button type="button" class="withdrawFromSaving bg-red-500 absolute hidden top-0 left-0
            pr-8 pl-4 pb-8 pt-4 z-[99] cursor-pointer rounded-br-full transition ease-out duration-50 
            text-2xl hover:scale-[1.10] hover:translate-x-[2px] hover:translate-y-[2px]
            md:block">
                <i class="fa-solid fa-minus"></i>
            </button>
            <button type="button" class="withdrawFromSaving bg-red-500 absolute right-0 top-[80px]
            pl-6 pr-2 py-4 rounded-l-full z-[99] cursor-pointer transition ease-out duration-50 
            text-2xl hover:scale-[1.10] hover:translate-x-[-2px] md:hidden">
                <i class="fa-solid fa-minus"></i>
            </button>

            <div class="saving-savings-container flex flex-col justify-center 
            my-10 items-center sm:my-8 lg:my-6">
                <div class="label-center" id="savingProgress"></div>
            </div>
            
            <div class="saving-details-container flex flex-col bg-white border
            border-slate-400 rounded-lg mt-[2rem] py-4 px-6 w-8/12 max-w-[600px] sm:mt-[1.5rem]">
                <div class="flex justify-between border-b border-slate-300 
                pb-1 text-xl font-lato rounded-sm my-1">
                    <span>Name</span>
                    <span id="savingName" class="detail-highlight">Fiery Heights III</span>
                </div>
                <div class="flex justify-between border-b border-slate-300 
                pb-1 text-xl font-lato rounded-sm my-1">
                    <span>Amount Goal</span>
                    <span id="savingAmountGoal">---</span>
                </div>
                <div class="flex justify-between border-b border-slate-300 
                pb-1 text-xl font-lato rounded-sm my-1">
                    <span>Amount Saved</span>
                    <span id="savingAmountSaved">---</span>
                </div>
                <div class="flex justify-between pb-1 text-xl font-lato rounded-sm my-1">
                    <span>Remaining</span>
                    <span id="savingAmountRemaining">---</span>
                </div>
            </div>
        </div>

        <span class="none-loaded hidden font-lato text-slate-500 text-2xl text-center mt-[2rem]">No saving loaded.</span>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}