<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/styles_main.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/css/loading-bar.min.css" />
        <script src="https://kit.fontawesome.com/b40850cb13.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/js/loading-bar.min.js"></script>
    </head>
    <body>
        <div class="parent-container bg-slate-100 w-full h-full flex flex-row relative">
            <div class="sidebar hidden bg-gray w-4/12 h-full max-w-[360px]
            overflow-y-auto bg-white px-5 py-2 shadow-md md:block">
                <div class="py-10 text-center">
                    <h1 class="text-4xl font-lato text-blue-600">Savings Tracker</h2>
                </div>
                <div class="flex flex-col mt-5 pl-2 nav-list">
                    <span class="flex items-center mx-2 my-7 transition-colors hover:text-blue-600 ">
                        <i class="fa-solid text-2xl fa-house mr-3"></i>
                        <a href="/home" class="text-2xl">Home</a>
                    </span>
                    <span class="flex items-center mx-2 my-7 transition-colors hover:text-blue-600">
                        <i class="fa-solid text-2xl fa-chart-simple mr-3"></i>
                        <a href="/stats" class="text-2xl">Stats</a>
                    </span>
                    <span class="flex items-center mx-2 my-7 transition-colors hover:text-blue-600">
                        <i class="fa-solid text-2xl fa-piggy-bank mr-3"></i>
                        <a href="/savings" class="text-2xl">Savings</a>
                    </span>
                    <span class="flex items-center mx-2 my-7 transition-colors hover:text-blue-600">
                        <i class="fa-solid text-2xl fa-gear mr-3"></i>
                        <a href="/settings" class="text-2xl">Settings</a>
                    </span>
                </div>
            </div>
            <div class="main flex-1 h-full">
                <button type="button" class="px-4 py-2 m-4 rounded-md text-3xl
                absolute top-0 left-0 z-[99] cursor:pointer bg-white border md:hidden">
                    <i class="fa-solid fa-bars"></i>
                </button>
                {% block main %}{% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="static/js/script.js"></script>
    </body>
</html>