{% extends "layout.html" %}

{% block title %}
    Savings
{% endblock %}

{% block main %}
    <div id="savingsContainer" class="flex flex-col h-full py-8 overflow-y-auto mt-[4rem] md:mt-0">
        <div class="header-container mx-7 flex items-center md:mx-10">
            <h2 class="font-yanone-kaffeesatz text-[3rem] flex-1">Savings</h2>
            <button type="button" class="py-1 px-3 border-[3px] border-gray-900 
            rounded-xl text-[1.4rem] text-gray-900 transition duration-150
          hover:text-slate-100 hover:bg-gray-900" id="newSaving">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        {% if savings %}
            <div class="savings-container grid grid-cols-1 justify-between mx-7 text-center
            gap-y-6 mt-2 py-5 md:grid-cols-2 md:mt-0 md:gap-y-4 md:gap-x-5">
                {% for saving_name in savings %}
                    <div class="bg-white border border-gray-200 text-black drop-shadow-sm 
                cursor-pointer px-5 py-6 rounded-md transition duration-150 hover:border-gray-400 text-[1.4rem]">
                        {{ saving_name }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <span class="empty-message font-lato text-slate-500 text-xl text-center mt-[2rem]">Ready to save?</span>
        {% endif %}
    </div>
{% endblock %}