{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <div id="settingsContainer" class="flex flex-col h-full py-8 overflow-y-auto mt-[4rem] md:mt-0">
        <div class="header-container mx-7 flex items-center md:mx-10">
            <h2 class="font-yanone-kaffeesatz text-[3rem] flex-1">Settings</h2>
            <button type="button" class="py-1 px-3 border-[3px] border-gray-900 
            rounded-xl text-[1.4rem] text-gray-900 transition duration-150
        hover:text-slate-100 hover:bg-gray-900">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
{% endblock %}