{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block modal %}
{% endblock %}

{% block main %}
    <div id="settingsContainer" class="flex flex-col h-full py-8 overflow-y-auto mt-[4rem] md:mt-0">
        <div class="settings-container hidden flex-col items-center">
            <div class="header-container mx-7 flex items-center md:mx-10">
                <h2 class="font-yanone-kaffeesatz text-[3rem] flex-1">Settings</h2>
            </div>
            <div class="main-settings-container">
                
            </div>
        </div>
        <span class="none-loaded hidden font-lato text-slate-500 text-2xl text-center mt-[2rem]">No saving loaded.</span>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="static/js/settings.js"></script>
{% endblock %}